In [1]:
import MySQLdb
from sqlalchemy import create_engine
import pandas as pd

In [2]:
## Connect the to host and user
uberdb = MySQLdb.connect(
    host="localhost",
    user="root",
    password="zpqm09xown")
cur = uberdb.cursor()

## Create UberDB Schema
query_schema_creation = """
    DROP SCHEMA IF EXISTS UberDB;
    CREATE SCHEMA UberDB;"""
cur.execute(query_schema_creation)

0

In [3]:
## Connect to UberDB Schema
uberdb = MySQLdb.connect(
    host="localhost",
    user="root",
    password="zpqm09xown",
    database="UberDB")

cur = uberdb.cursor()
engine = create_engine('mysql+mysqldb://root:zpqm09xown@localhost:3306/UberDB', echo = False)

In [4]:
## Create lookup_vehicles table
query_lookup_vehicles = """
    DROP TABLE IF EXISTS lookup_vehicles;
    CREATE TABLE UberDB.lookup_vehicles (
        vehicle_uuid INT UNSIGNED PRIMARY KEY, 
        vehicle_capacity SMALLINT UNSIGNED);"""
cur.execute(query_lookup_vehicles)

0

In [5]:
## Create trips table
query_trips = """
    DROP TABLE IF EXISTS trips;
    CREATE TABLE UberDB.trips (
        job_uuid INT UNSIGNED PRIMARY KEY, 
        client_uuid INT UNSIGNED, 
        driver_uuid INT UNSIGNED,
        vehicle_uuid INT UNSIGNED,
        client_device VARCHAR(50), 
        is_subs_trip TINYINT(1), 
        request_type VARCHAR(50), 
        status VARCHAR(50), 
        request_date_time DATETIME, 
        begintrip_date_time DATETIME, 
        dropoff_date_time DATETIME, 
        trip_distance_miles DOUBLE, 
        payment_method VARCHAR(50), 
        pickup_walking_distance_meters DOUBLE, 
        trip_date DATE);"""
cur.execute(query_trips)

0

In [6]:
## Import only vehicles information from the data source
vehicles_col_list = ["vehicle_uuid", "vehicle_capacity"]
vehicles_df = pd.read_csv('ExerciseData.csv', usecols=vehicles_col_list)

## Clean the vehicles data by removing blanks blanks duplicates
vehicles_df = vehicles_df.dropna(axis=0).drop_duplicates(ignore_index=True)

## Populate to mysql in the lookup_vehicle table
vehicles_df.to_sql(name='lookup_vehicles', con=engine, if_exists='append', index=False)

In [7]:
## Import trips information from the data source
trips_col_list = ["job_uuid", 
                  "client_uuid", 
                  "driver_uuid",
                  "vehicle_uuid",
                  "client_device", 
                  "is_subs_trip", 
                  "request_type", 
                  "status", 
                  "request_date_time", 
                  "begintrip_date_time", 
                  "dropoff_date_time", 
                  "trip_distance_miles", 
                  "payment_method", 
                  "pickup_walking_distance_meters", 
                  "trip_date"]
trips_df = pd.read_csv('ExerciseData.csv', usecols=trips_col_list)

## Populate to mysql in the trips table
trips_df.to_sql(name='trips', con=engine, if_exists='append', index=False)